<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>T셀파 문제은행</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../../inc/css/font.css">
  <link rel="stylesheet" href="../../inc/css/reset.css">
  <link rel="stylesheet" href="../../inc/css/common.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../../inc/js/common.js"></script>
</head>

<style>
  .btn {
    padding: 10px 20px;
    background-color: #5670dc;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
  }
</style>

<body>
    <form method="post" align="center">
      <br/><br/>
      <h2>회원가입</h2>
      <br/>
      <table align="center">
        <tr>
          <td>ID: </td>
          <td>
            <input type="text" id="id" name="id" placeholder="아이디" required >
          </td>
        </tr>
        <tr>
          <td>Password: </td>
          <td>
            <input type="password" id="password" name="password" placeholder="비밀번호" required >
          </td>
        </tr>
        <tr>
          <td>Name: </td>
          <td>
            <input type="text" id="name" name="name" placeholder="이름" required >
          </td>
        </tr>
        <tr>
          <td>Email: </td>
          <td>
            <input type="email" id="email" name="email" placeholder="이메일" required >
          </td>

        </tr>
      </table>

      <br/>
        <button class="btn" type="submit">Join</button>

</form>

</body>
</html>