<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="tree">
  <li>
    <input type="checkbox" id="root">
    <label for="root">ROOT</label>
    <ul>
      <li>
        <input type="checkbox" id="node1">
        <label for="node1" class="lastTree">node1</label>
      </li>
      <li>
        <input type="checkbox" id="node2">
        <label for = "node2">node2</label>
        <ul>
          <li>
            <input type="checkbox" id="node21">
            <label for="node21" class="lastTree">node21</label>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="node3">
        <label for = "node3">node3</label>
        <ul>
          <li>
            <input type="checkbox" id="node31">
            <label for="node31" class="lastTree">node31</label>
          </li>
          <li>
            <input type="checkbox" id="node32">
            <label for="node32">node32</label>
            <ul>
              <li>
                <input type="checkbox" id="node321">
                <label for="node321" class="lastTree">node321</label>
              </li>
              <li>
                <input type="checkbox" id="node322">
                <label for="node322" class="lastTree">node322</label>
              </li>
              <li>
                <input type="checkbox" id="node323">
                <label for="node323" class="lastTree">node323</label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="node33">
            <label for="node33" class="lastTree">node33</label>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</body>
</html>